# Database Connection (Prisma)
DATABASE_URL="postgresql://postgres:[PASSWORD]@db.llyeovbymplgfalfxbrd.supabase.co:5432/postgres"
DIRECT_URL="postgresql://postgres:[PASSWORD]@db.llyeovbymplgfalfxbrd.supabase.co:5432/postgres"

# Supabase Client & Object Storage
SUPABASE_URL="https://llyeovbymplgfalfxbrd.supabase.co"
SUPABASE_KEY="[YOUR_SUPABASE_ANON_OR_SERVICE_ROLE_KEY]"
SUPABASE_STORAGE_BUCKET="Cashier-system-img"

# App Port
PORT=3001
